//字符串多了省略号替代方法
// 单行
ellipsis()
  overflow:hidden
  white-space:nowrap
  text-overflow:ellipsis
// 多行
// manyellipsis()
// 	overflow:hidden
// 	display: -webkit-box
//   	text-overflow: ellipsis
//   	-webkit-line-clamp: 5
//   	-webkit-box-orient: vertical
bg-img()
  background-image: url(https://s.qunarzz.com/vacation_react/detail/bg.png)
  background-repeat: no-repeat
  background-size: 4.46rem 2.3rem
  background-position:-3.08rem -1.34rem
bg-main()
  background-image: url(http://pic.c-ctrip.com/platform/h5/home/un_ico_subnav_v7.124@2x.png)
  background-size: 24px auto;
  background-repeat: no-repeat;

